 

 .circular{
    position:absolute;  
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
 }

.product-list-header {
    height: 50px;
    width: 100%;
    display: flex;
}

.react-dropdown {
    font-size: 13px;
}