.menu {
	height: 100%;
	width: 200px;
	border-right: 1px solid lightgray;
	overflow-y: auto;
	background-color: #FAFAFB;
}

.menuItem {
	color: inherit;
	font-size: 14px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 5px;
}

.menuItem:hover {
	color: #4282ad;
}