.item {
    display: inline-block;
    margin: 10px;
    border: 1px solid lightgray;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    transition: transform .2s;

}

 
.item:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.05); 
}

 

.add-btn-div {
    position: absolute;
    bottom: 0;
    right: 0;
}

.details-btn-div {
    position: absolute;
    bottom: 5px;
    left: 5px
}